{% block content %}
<div id="myProjectsProjectManagerModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Data</h4>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('projects.insert_project_manager') }}" method="post">
                    <div class="form-group">
                        <label>Name <span style="color: red;">*</span></label>
                        <input type="text" class="form-control" name="name" required>
                    </div>
                    <div class="form-group">
                        <select class="form-control form-select" name="section" required>
                            <option value="Projects">Projects</option>
                            <option value="Water">Water</option>
                            <option value="Sanitation">Sanitation</option>
                            <option value="Electromechanical">Electromechanical</option>
                            <option value="Strategic Planning">Strategic Planning</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary left-aligned-button" style="float: left;" type="submit">Submit</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}