{% extends 'index.html'%}

{% block content %}
<div class="admin_dashboard">
    <h1 class="admin-dashboard_title"> Welcome to the Administrator's Dashboard </h1>
    <h3 class="admin-dashboard_select"> Select the data you want to manage</h3>
    <div class="admin_nav_container">
        <a class="admin_nav btn btn-secondary" href="/projects_data">Projects Data</a>
        <a class="admin_nav btn btn-secondary" href="/strategic_planning_data">Strategic Planning Data</a>
        <a class="admin_nav btn btn-secondary" href="GIS_data">GIS Data</a>
    </div>
</div>
{% endblock%}