<footer>
  <ul class="nav justify-content-center">
    <li class="nav-item"><a href="/home" class="nav-link px-2">Home</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2">Back to Top</a></li>
    <!-- <li class="nav-item"><a href="#" class="nav-link px-2">Admin-Dashboard</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2">About</a></li> -->
  </ul>
  <p class="vision text-center">Going Beyond the Obvious in Search of the Unseen</p>
  <div class="contact_info">
    <div class="contact_details">
      <h5>Contact Us</h5>
      <p class="copyright">Address: 3065 Nkulumane 5, Bulawayo</p>
      <p class="copyright">Phone: +263 775 420 334</p>
      <p class="copyright">Email: <a class="email" href="mailto:dylanmlilo12@gmail.com">dylanmlilo12@gmail.com</a></p>
    </div>
    <div class="copyright_date">
      <br><br><br><br><br>
      <p class="copyright">Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved.</p>
    </div>
  </div>
  </footer>