{% extends 'index.html' %}

{% block content %}
<div class="stats-container gis">
    <h1>GIS Projects</h1>
</div>
<p class="card-text date"> today_date </p>
<div class="stats_data_container">
    <h2>Summary of GIS Projects</h2>
    <div class="table-responsive">
        <table id="gis_table" class="table table-hover table-bordered table-striped">
            <thead>
            <tr class="table-dark">
                <th>OUT PUT</th>
                <th>
                    ACTIVITY<br>
                    Activities add up
                    to 100% of the
                    Output
                </th>
                <th>
                    TASK<br>
                    Tasks add up to 100%
                    of the Activity
                </th>
                <th>
                    RESPONSIBLE
                    OFFICER/PERSON<br>
                    Names of Responsible
                    People in Full
                </th>
                <th>DESIGNATION</th>
            </tr>
            </thead>

            <tbody>
                {% for gis_data in gis_data_list %}
                <tr class="table-light">
                    <td> {{gis_data.output_name}} </td>
                    <td> {{gis_data.activity}} </td>
                    <td> {{gis_data.task_description}} </td>
                    <td> {{gis_data.responsible_person}} </td>
                    <td> {{gis_data.designation}} </td>  
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock%}
