{% extends 'index.html' %}

{% block content %}
<p class="card-text date">{{ today_date }}</p>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <div class="alert-container">
    {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
    {% endfor %}
    </div>
{% endif %}
{% endwith %}
<div class="stats_data_container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron data_container p-3">
                <h2 class="left-aligned-text">Responsible Person Data
                    <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#myGISRespPersonModal">Add New Data</button>
                </h2>
                <div class="table-responsive">
                    <table id="gis_resp_person_table" class="table table-hover table-bordered table-striped">
                        <thead>
                        <tr class="table-dark">
                            <th>Responsible Person ID</th>
                            <th>Name</th>
                            <th>Designation</th>
                            <th>Action</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for resp_person_data in gis_responsible_person_data %}
                        <tr class="table-light">
                            <td>{{ resp_person_data.responsible_person_id or '' }}</td>
                            <td>{{ resp_person_data.responsible_person_name or '' }}</td>
                            <td>{{ resp_person_data.designation or '' }}</td>
                            <td>
                                <a href="/update_gis_resp_person_data/{{ resp_person_data.responsible_person_id }}" class="btn btn-warning btn-xs update-btn" data-toggle="modal" data-target="#updateGISRespPersonModal{{ resp_person_data.responsible_person_id }}">Edit</a>
                                <a href="/delete_gis_resp_person_data/{{ resp_person_data.responsible_person_id }}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure you want to delete this record?')">Delete</a>
                            </td>
                        </tr>
                        {% include "add_gis_resp_person_modal.html" %}
                        {% include "update_gis_resp_person_modal.html" %}
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="stats_data_container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron data_container p-3">
                <h2 class="left-aligned-text">Output Data
                    <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#myGISOutputModal">Add New Data</button>
                </h2>
                <div class="table-responsive">
                    <table id="gis_output_table" class="table table-hover table-bordered table-striped">
                        <thead>
                        <tr class="table-dark">
                            <th>Output ID</th>
                            <th>Output</th>
                            <th>Action</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for output_data in gis_output_data %}
                        <tr class="table-light">
                            <td>{{ output_data.output_id or '' }}</td>
                            <td>{{ output_data.output_name or '' }}</td>
                            <td>
                                <a href="/update_gis_output_data/{{ output_data.output_id }}" class="btn btn-warning btn-xs update-btn" data-toggle="modal" data-target="#updateGISOutputModal{{ output_data.output_id }}">Edit</a>
                                <a href="/delete_gis_output_data/{{ output_data.output_id }}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure you want to delete this record?')">Delete</a>
                            </td>
                        </tr>
                        {% include "add_gis_output_modal.html" %}
                        {% include "update_gis_output_modal.html" %}
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="stats_data_container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron data_container p-3">
                <h2 class="left-aligned-text">Activity Data
                    <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#myGISActivityModal">Add New Data</button>
                </h2>
                <div class="table-responsive">
                    <table id="gis_activity_table" class="table table-hover table-bordered table-striped">
                        <thead>
                        <tr class="table-dark">
                            <th>Activity ID</th>
                            <th>Activity</th>
                            <th>Output Id</th>
                            <th>Responsible Person ID</th>
                            <th>Action</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for activity_data in gis_activity_data %}
                        <tr class="table-light">
                            <td>{{ activity_data.activity_id or '' }}</td>
                            <td>{{ activity_data.activity_name or '' }}</td>
                            <td>{{ activity_data.output_id or '' }}</td>
                            <td>{{ activity_data.responsible_person_id or '' }}</td>
                            <td>
                                <a href="/update_gis_activity_data/{{ activity_data.activity_id }}" class="btn btn-warning btn-xs update-btn" data-toggle="modal" data-target="#updateGISActivityModal{{ activity_data.activity_id }}">Edit</a>
                                <a href="/delete_gis_activity_data/{{ activity_data.activity_id }}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure you want to delete this record?')">Delete</a>
                            </td>
                        </tr>
                        {% include "add_gis_activity_modal.html" %}
                        {% include "update_gis_activity_modal.html" %}
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="stats_data_container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron data_container p-3">
                <h2 class="left-aligned-text">Tasks Data
                    <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#myGISTaskModal">Add New Data</button>
                </h2>
                <div class="table-responsive">
                    <table id="gis_task_table" class="table table-hover table-bordered table-striped">
                        <thead>
                        <tr class="table-dark">
                            <th>Task ID</th>
                            <th>Activity ID</th>
                            <th>Description</th>
                            <th>Percentage Done</th>
                            <th>Action</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for task_data in gis_task_data %}
                        <tr class="table-light">
                            <td>{{ task_data.task_id or '' }}</td>
                            <td>{{ task_data.activity_id or '' }}</td>
                            <td>{{ task_data.task_description or '' }}</td>
                            <td>{{ task_data.percentage_of_activity or '' }}</td>
                            <td>
                                <a href="/update_gis_task_data/{{ task_data.task_id }}" class="btn btn-warning btn-xs update-btn" data-toggle="modal" data-target="#updateGISTaskModal{{ task_data.task_id }}">Edit</a>
                                <a href="/delete_gis_task_data/{{ task_data.task_id }}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure you want to delete this record?')">Delete</a>
                            </td>
                        </tr>
                        {% include "add_gis_task_modal.html" %}
                        {% include "update_gis_task_modal.html" %}
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.js"></script>
<script src="https://cdn.datatables.net/inline-rows/2.0.8/inline-rows.js"></script>
<script>
  $(document).ready(function() {
      $('#gis_output_table, #gis_activity_table, #gis_resp_person_table, #gis_task_table').DataTable({
          // "paging": true, // Disable pagination for inline editing
          "ordering": true, // Disable sorting for inline editing
          // "info": false, // Disable info display for inline editing
          // "scrollY": '50vh', // Set a fixed height for vertical scrolling
          // "scrollCollapse": true, // Enable scrolling
          // "scrollX": true, // Enable horizontal scrolling
          // "autoWidth": false // Disable automatic column width calculation
      });
  });
</script>
{% endblock%}