<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img id="logo" src="../static/images/logo_council.jpg" alt="Logo">
      NANDO PROJECTS
    </a>
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <img class="logo" src="../static/images/logo_council.jpg" alt="Logo">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel" style="color: black;">City of Bulawayo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 align-items-center gap-4">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/Servicing">Servicing</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/GIS">GIS</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/StrategicPlanning">Strategic Planning</a>
          </li>
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#"
               id="navbarDropdownMore" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">More</a>
            <ul class="dropdown-menu more" aria-labelledby="navbarDropdownMore">
              <li class="nav-item active">
                <a class="dropdown-item" href="/Services">Services</a>
              </li>
              <li class="nav-item active">
                <a class="dropdown-item" href="/Works">Works</a>
              </li>
              <li class="nav-item active">
                <a class="dropdown-item" href="/Goods">Goods</a>
              </li>
            </ul>
          </li>
          <li class="nav-item active">
            <form class="d-flex" role="search">
              <a class="nav-link" href="#">
                <img src="../static/images/searching-bar.png" alt="Search" width="100px" height="100px">
              </a>
            </form>
          </li>
          <li class="nav-item active dropdown">
            <a class="nav-link" href="#"
               id="navbarDropdownUsername" role="button"
               data-bs-toggle="dropdown" aria-expanded="false"><h5 class="username">username</h5>
            </a>
            <ul class="dropdown-menu dropdown-menu-end username" aria-labelledby="navbarDropdownUsername">
              <li class="nav-item active">
                <a class="dropdown-item" href="/admin_dashboard">Admin Dashboard</a>
              </li>
              <li class="nav-item active">
                <a class="dropdown-item" href="/logout">Logout</a>
              </li>
            </ul>
          </li>
      </div>
    </div>
  </div>
</nav>