{% extends 'index.html' %}

{% block content %}
<p class="card-text date">{{ today_date }}</p>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <div class="alert-container">
    {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
    {% endfor %}
    </div>
{% endif %}
{% endwith %}
<div class="stats_data_container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron data_container p-3">
                <h2 class="left-aligned-text">Projects Data
                    <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#myProjectsModal">Add New Data</button>
                </h2>
                <div class="table-responsive">
                    <table id="projects_data_table" class="table table-hover table-bordered table-striped">
                        <thead>
                            <tr class="table-dark">
                                <th>Contract Number</th>
                                <th>Contract Name</th>
                                <th>Contract Type</th>
                                <th>Project Manager</th>
                                <th>Section</th>
                                <th>Contractor</th>
                                <th>Year</th>
                                <th>Date Contract Signed</th>
                                <th>Date Contract Signed By BCC</th>
                                <th>Early Start Date</th>
                                <th>Contract Duration (Weeks)</th>
                                <th>Contract Duration (Months)</th>
                                <th>Early Finish Date</th>
                                <th>Extension of Time</th>
                                <th>Status</th>
                                <th>Contract Value Including 10% Contigency</th>
                                <th>Perfomance Guarantee Value</th>
                                <th>Perfomance Guarantee Expiry Date</th>
                                <th>Advance Payment Value</th>
                                <th>Advance Payment Guarantee Expiry Date</th>
                                <th>Total Certified Interim Payments To Date</th>
                                <th>Financial Progress (%)</th>
                                <th>Roads Progress (%)</th>
                                <th>Water Progress (%)</th>
                                <th>Sewer Progress (%)</th>
                                <th>Storm Drain Progress (%)</th>
                                <th>Public Lighting Progress (%)</th>
                                <th>Physical Progress (%)</th>
                                <th>Tax Clearance Validation</th>
                                <th>Link</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                        {% for project_data in projects_data %}
                            <tr>
                                <td>{{ project_data.contract_number or '' }}</td>
                                <td>{{ project_data.contract_name or '' }}</td>
                                <td>{{ project_data.contract_type_id or '' }}</td>
                                <td>{{ project_data.project_manager_id or ''}}</td>
                                <td>{{ project_data.section_id or '' }}</td>
                                <td>{{ project_data.contractor or '' }}</td>
                                <td>{{ project_data.year or '' }}</td>
                                <td>{{ project_data.date_contract_signed or '' }}</td>
                                <td>{{ project_data.date_contract_signed_by_bcc or '' }}</td>
                                <td>{{ project_data.early_start_date or '' }}</td>
                                <td>{{ project_data.contract_duration_weeks or '' }}</td>
                                <td>{{ project_data.contract_duration_months or '' }}</td>
                                <td>{{ project_data.early_finish_date or '' }}</td>
                                <td>{{ project_data.extension_of_time or '' }}</td>
                                <td>{{ project_data.project_status or '' }}</td>
                                <td>{{ project_data.contract_value_including_ten_percent_contingency or '' }}</td>
                                <td>{{ project_data.performance_guarantee_value or '' }}</td>
                                <td>{{ project_data.performance_guarantee_expiry_date or '' }}</td>
                                <td>{{ project_data.advance_payment_value or '' }}</td>
                                <td>{{ project_data.advance_payment_guarantee_expiry_date or ''}}</td>
                                <td>{{ project_data.total_certified_interim_payments_to_date or '' }}</td>
                                <td>{{ project_data.financial_progress_percentage or '' }}</td>
                                <td>{{ project_data.roads_progress or '' }}</td>
                                <td>{{ project_data.water_progress or '' }}</td>
                                <td>{{ project_data.sewer_progress or ''}}</td>
                                <td>{{ project_data.storm_drainage_progress or '' }}</td>
                                <td>{{ project_data.public_lighting_progress or '' }}</td>
                                <td>{{ project_data.physical_progress_percentage or '' }}</td>
                                <td>{{ project_data.tax_clearance_validation or '' }}</td>
                                <td>{{ project_data.link or '' }}</td>
                                <td>
                                    <a href="/update_projects_data/{{ projects_data.id }}" class="btn btn-warning btn-xs update-btn" data-toggle="modal" data-target="#updateProjectsModal{{ projects_data.id }}">Edit</a>
                                    <a href="/delete_projects_data/{{ projects_data.id }}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure you want to delete this record?')">Delete</a>
                                </td>
                                {% include "add_projects_modal.html" %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="stats_data_container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron data_container p-3">
                <h2 class="left-aligned-text">Project Managers
                    <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#myProjectsProjectManagerModal">Add New Data</button>
                </h2>
                <div class="table-responsive">
                    <table id="projects_project_manager_table" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr class="table-dark">
                                <th>Project Manager ID</th>
                                <th>Project Manager</th>
                                <th>Section</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for project_manager in project_managers %}
                            <tr>
                                <td>{{ project_manager.id }}</td>
                                <td>{{ project_manager.name or '' }}</td>
                                <td>{{ project_manager.section or '' }}</td>
                                <td>
                                    <a href="/update_projects_project_manager/{{ project_manager.id }}" class="btn btn-warning btn-xs update-btn" data-toggle="modal" data-target="#updateProjectsProjectManagerModal{{ project_manager.id }}">Edit</a>
                                    <a href="/delete_projects_project_manager/{{ project_manager.id }}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure you want to delete this record?')">Delete</a>
                                </td>
                                {% include 'add_projects_project_manager_modal.html' %}
                                {% include 'update_projects_project_manager_modal.html' %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>  
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.js"></script>
<script src="https://cdn.datatables.net/inline-rows/2.0.8/inline-rows.js"></script>
<script>
    $(document).ready(function() {
        $('#projects_data_table, #projects_project_manager_table').DataTable({
            // "paging": true, // Disable pagination for inline editing
            "ordering": true, // Disable sorting for inline editing
            // "info": false, // Disable info display for inline editing
            // "scrollY": '50vh', // Set a fixed height for vertical scrolling
            // "scrollCollapse": true, // Enable scrolling
            // "scrollX": true, // Enable horizontal scrolling
            // "autoWidth": false // Disable automatic column width calculation
        });
    });
</script>
{% endblock%}