{% extends 'index.html' %}

{% block content %}
<div class="stats-container serviving">
    <h1>Servicing Projects</h1>
</div>
<p class="card-text date"> today_date </p>
<div class="stats_data_container">
    <h2>Summary of Servicing Projects Progress Data</h2>
    <div class="table-responsive">
        <table id="servicing_table" class="table table-hover table-bordered">
            <thead>
                <tr class="table-dark">
                    <th>Contract Number</th>
                    <th>Contract Name</th>
                    <th>Project Manager</th>
                    <th>Contractor</th>
                    <th>Year</th>
                    <th>Status</th>
                    <th>Water Progress (%)</th>
                    <th>Sewer Progress (%)</th>
                    <th>Roads Progress (%)</th>
                    <th>Storm Drain Progress (%)</th>
                    <th>Public Lighting Progress (%)</th>
                    <th>Total Progress (%)</th>
                </tr>
            </thead>
            <tbody>
                <td>contract_number</td>
                <td>contract_name</td>
                <td>project_manager</td>
                <td>contractor</td>
                <td>year</td>
                <td>project_status</td>
                <td>water_progress</td>
                <td>sewer_progress</td>
                <td>roads_progress</td>
                <td>storm_drainage_progress</td>
                <td>public_lighting_progress</td>
                <td>physical_progress_percentage</td>
            </tbody>
        </table>
    </div>
</div>
{% endblock%}