{% extends 'index.html' %}

{% block content %}
<div class="stats-container serviving">
    <h1>Servicing Projects</h1>
</div>
<p class="card-text date">{{ today_date }}</p>
<div class="stats_data_container">
    <h2>Summary of Servicing Projects Progress Data</h2>
    <div class="table-responsive">
        <table id="servicing_table" class="table table-hover table-bordered">
            <thead>
                <tr class="table-dark">
                    <th>Contract Number</th>
                    <th>Contract Name</th>
                    <th>Project Manager</th>
                    <th>Contractor</th>
                    <th>Year</th>
                    <th>Status</th>
                    <th>Water Progress (%)</th>
                    <th>Sewer Progress (%)</th>
                    <th>Roads Progress (%)</th>
                    <th>Storm Drain Progress (%)</th>
                    <th>Public Lighting Progress (%)</th>
                    <th>Total Progress (%)</th>
                </tr>
            </thead>

            <tbody>
            {% for servicing_data in projects_data %}
                <tr class="{% if servicing_data.project_status == 'Completed' %}table-success 
                {%elif servicing_data.project_status == 'In Progress' %}table-info
                {%elif servicing_data.project_status == 'Stopped' %}table-danger
                {% else %}table-warning{% endif %}">
                    <td>{{ servicing_data.contract_number or '' }}</td>
                    <td>{{ servicing_data.contract_name or '' }}</td>
                    <td>{{ servicing_data.project_manager or '' }}</td>
                    <td>{{ servicing_data.contractor or ''}}</td>
                    <td>{{ servicing_data.year or '' }}</td>
                    <td>{{ servicing_data.project_status or '' }}</td>
                    <td>{{ servicing_data.water_progress or '' }}</td>
                    <td>{{ servicing_data.sewer_progress or '' }}</td>
                    <td>{{ servicing_data.roads_progress or '' }}</td>
                    <td>{{ servicing_data.storm_drainage_progress or '' }}</td>
                    <td>{{ servicing_data.public_lighting_progress or '' }}</td>
                    <td>{{ servicing_data.physical_progress_percentage or '' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="charts-container">
{% for servicing_data in servicing_data_JSON %}
      <div id="servicing_graph-container{{ loop.index }}" class="graph-container"></div>
{% endfor %}
</div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.js"></script>
<script src="https://cdn.datatables.net/inline-rows/2.0.8/inline-rows.js"></script>
<script>
    $(document).ready(function() {
        $('#servicing_table').DataTable({
            // "paging": true, // Disable pagination for inline editing
            // "ordering": false, // Disable sorting for inline editing
            // "info": false, // Disable info display for inline editing
            // "scrollY": '50vh', // Set a fixed height for vertical scrolling
            // "scrollCollapse": true, // Enable scrolling
            // "scrollX": true, // Enable horizontal scrolling
            // "autoWidth": false // Disable automatic column width calculation
        });
    });
</script>
<script>
        // Load bar plots
        var servicingData = {{ servicing_data_JSON | safe }};
        servicingData.forEach(function(data, index) {
            var divId = 'servicing_graph-container' + (index + 1);
            var div = document.getElementById(divId);
            Plotly.newPlot(div, JSON.parse(data));
        });


        function updateChartSize() {
        const graphContainers = document.querySelectorAll('.graph-container');
  
        for (const container of graphContainers) {
          const chartId = container.id; // Get the chart container ID
          const chart = document.getElementById(chartId); // Find the chart element
        
          // Set chart width to occupy full width of the container
          const containerWidth = container.clientWidth;
          Plotly.relayout(chart, { width: containerWidth });
        }
    }
  
    // Initial call to set correct width on page load
    updateChartSize();
  
    window.addEventListener('resize', updateChartSize);

</script>
{% endblock%}