{% extends 'index.html' %}

{% block content %}
<div class="stats-container serviving">
    <h1>Servicing Projects</h1>
</div>
<p class="card-text date">{{ today_date }}</p>
<div class="stats_data_container">
    <h2>Summary of Servicing Projects Progress Data</h2>
    <div class="table-responsive">
        <table id="servicing_table" class="table table-hover table-bordered">
            <thead>
                <tr class="table-dark">
                    <th>Contract Number</th>
                    <th>Contract Name</th>
                    <th>Project Manager</th>
                    <th>Contractor</th>
                    <th>Year</th>
                    <th>Status</th>
                    <th>Water Progress (%)</th>
                    <th>Sewer Progress (%)</th>
                    <th>Roads Progress (%)</th>
                    <th>Storm Drain Progress (%)</th>
                    <th>Public Lighting Progress (%)</th>
                    <th>Total Progress (%)</th>
                </tr>
            </thead>

            <tbody>
            {% for servicing_data in projects_data %}
                <tr>
                    <td>{{ servicing_data.contract_number or '' }}</td>
                    <td>{{ servicing_data.contract_name or '' }}</td>
                    <td>{{ servicing_data.project_manager or '' }}</td>
                    <td>{{ servicing_data.contractor or ''}}</td>
                    <td>{{ servicing_data.year or '' }}</td>
                    <td>{{ servicing_data.project_status or '' }}</td>
                    <td>{{ servicing_data.water_progress or '' }}</td>
                    <td>{{ servicing_data.sewer_progress or '' }}</td>
                    <td>{{ servicing_data.roads_progress or '' }}</td>
                    <td>{{ servicing_data.storm_drainage_progress or '' }}</td>
                    <td>{{ servicing_data.public_lighting_progress or '' }}</td>
                    <td>{{ servicing_data.physical_progress_percentage or '' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock%}