{% extends 'index.html' %}

{% block content %}
<p class="card-text date">{{ today_date }}</p>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <div class="alert-container">
    {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
    {% endfor %}
    </div>
{% endif %}
{% endwith %}
<div class="stats_data_container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron data_container p-3">
                <h2 class="left-aligned-text">Strategic Planning Data
                    <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#myStrategicModal">Add New Data</button>
                </h2>
                <div class="table-responsive">
                    <table id="strats_data_table" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr class="table-dark">
                                <th>Status</th>
                                <th>Priority</th>
                                <th>Deadline</th>
                                <th>Task</th>
                                <th>Desciption</th>
                                <th>Assigned To</th>
                                <th>Deliverable</th>
                                <th>% Done</th>
                                <th>Fixed Cost</th>
                                <th>Estimated Hours</th>
                                <th>Actual Hours</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for strategic_data in strategic_data_list %}
                            <tr>
                                <td class="{% if strategic_data.status == 'In Progress' %}table-yellow_green
                            {%elif strategic_data.status == 'Complete' %}table-green
                            {%elif strategic_data.status == 'Overdue' %}table-red
                            {% else %}table-info{% endif %}">{{ strategic_data.status }}</td>
                            <td class="{% if strategic_data.priority == 'Low' %}table-blue 
                            {%elif strategic_data.priority == 'High' %}table-red
                            {% else %}table-yellow{% endif %}">{{ strategic_data.priority or '' }}</td>
                                <td>{{ strategic_data.deadline or '' }}</td>
                                <td>{{ strategic_data.task or '' }}</td>
                                <td>{{ strategic_data.description or '' }}</td>
                                <td>{{ strategic_data.project_manager or '' }}</td>
                                <td>{{ strategic_data.deliverables or '' }}</td>
                                <td>{{ strategic_data.percentage_done or '' }}</td>
                                <td>{{ strategic_data.fixed_cost or '' }}</td>
                                <td>{{ strategic_data.estimated_hours or '' }}</td>
                                <td>{{ strategic_data.actual_hours or '' }}</td>
                                <td>
                                    <a href="/update_strategic_data/{{ strategic_data.task_id }}" class="btn btn-warning btn-xs update-btn" data-toggle="modal" data-target="#updateStrategicModal{{ strategic_data.task_id }}">Edit</a>
                                    <a href="/delete_strategic_data/{{ strategic_data.task_id }}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure you want to delete this record?')">Delete</a>
                                </td>
                                {% include 'add_strategic_modal.html' %}
                                {% include 'update_strategic_modal.html' %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>  
    </div>
</div>
<div class="stats_data_container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron data_container p-3">
                <h2 class="left-aligned-text">Strategic Planning Project Managers
                    <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#myStrategicProjectManagerModal">Add New Data</button>
                </h2>
                <div class="table-responsive">
                    <table id="strats_project_manager_table" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr class="table-dark">
                                <th>Project Manager ID</th>
                                <th>Project Manager</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for project_manager in project_managers %}
                            <tr>
                                <td>{{ project_manager.id }}</td>
                                <td>{{ project_manager.name or '' }}</td>
                                <td>
                                    <a href="{{ url_for('projects.update_projects_project_manager', project_manager_id=project_manager.id) }}" class="btn btn-warning btn-xs update-btn" data-toggle="modal" data-target="#updateStrategicProjectManagerModal{{ project_manager.id }}">Edit</a>
                                    <a href="{{ url_for('projects.delete_projects_project_manager', project_manager_id=project_manager.id) }}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure you want to delete this record?')">Delete</a>
                                </td>
                                {% include 'add_strategic_project_manager_modal.html' %}
                                {% include 'update_strategic_project_manager_modal.html' %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>  
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.js"></script>
<script src="https://cdn.datatables.net/inline-rows/2.0.8/inline-rows.js"></script>

<script>
    $(document).ready(function() {
        $('#strats_data_table, #strats_project_manager_table').DataTable({
            // "paging": true, // Disable pagination for inline editing
            // "ordering": false, // Disable sorting for inline editing
            // "info": false, // Disable info display for inline editing
            // "scrollY": '50vh', // Set a fixed height for vertical scrolling
            // "scrollCollapse": true, // Enable scrolling
            // "scrollX": true, // Enable horizontal scrolling
            // "autoWidth": false // Disable automatic column width calculation
        });
    });
</script>
{% endblock%}