{% extends 'index.html' %}

{% block content %}
<div class="stats-container strategic">
    <h1>Strategic Planning</h1>
</div>
<p class="card-text date">{{ today_date }}</p>
<div class="stats_data_container">
    <h2>Task Management Tracking</h2>
    <div class="table-responsive">
        <table id="strats_table" class="table table-bordered table-striped table-hover">
            <thead>
                <tr class="table-dark">
                    <th>Status</th>
                    <th>Priority</th>
                    <th>Deadline</th>
                    <th>Task</th>
                    <th>Desciption</th>
                    <th>Assigned To</th>
                    <th>Deliverable</th>
                    <th>% Done</th>
                    <th>Fixed Cost</th>
                    <th>Estimated Hours</th>
                    <th>Actual Hours</th>
                </tr>
            </thead>
            <tbody>
                {% for strategic_data in strategic_data_list %}
                <tr>
                    <td class="{% if strategic_data.status == 'In Progress' %}table-yellow_green
                {%elif strategic_data.status == 'Complete' %}table-green
                {%elif strategic_data.status == 'Overdue' %}table-red
                {% else %}table-info{% endif %}">{{ strategic_data.status }}</td>
                <td class="{% if strategic_data.priority == 'Low' %}table-blue 
                {%elif strategic_data.priority == 'High' %}table-red
                {% else %}table-yellow{% endif %}">{{ strategic_data.priority or '' }}</td>
                    <td>{{ strategic_data.deadline or '' }}</td>
                    <td>{{ strategic_data.task or '' }}</td>
                    <td>{{ strategic_data.description or '' }}</td>
                    <td>{{ strategic_data.project_manager or '' }}</td>
                    <td>{{ strategic_data.deliverables or '' }}</td>
                    <td>{{ strategic_data.percentage_done or '' }}</td>
                    <td>{{ strategic_data.fixed_cost or '' }}</td>
                    <td>{{ strategic_data.estimated_hours or '' }}</td>
                    <td>{{ strategic_data.actual_hours or '' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.js"></script>
<script src="https://cdn.datatables.net/inline-rows/2.0.8/inline-rows.js"></script>

<script>
    $(document).ready(function() {
        $('#strats_table').DataTable({
            // "paging": true, // Disable pagination for inline editing
            // "ordering": false, // Disable sorting for inline editing
            // "info": false, // Disable info display for inline editing
            // "scrollY": '50vh', // Set a fixed height for vertical scrolling
            // "scrollCollapse": true, // Enable scrolling
            // "scrollX": true, // Enable horizontal scrolling
            // "autoWidth": false // Disable automatic column width calculation
        });
    });
</script>
{% endblock%}