{% extends 'index.html' %}

{% block content %}
<div class="stats-container strategic">
    <h1>Strategic Planning</h1>
</div>
<p class="card-text date">{{ today_date }}</p>
<div class="stats_data_container">
    <h2>Task Management Tracking</h2>
    <div class="table-responsive">
        <table id="strats_table" class="table table-bordered table-striped table-hover">
            <thead>
                <tr class="table-dark">
                    <th>Status</th>
                    <th>Priority</th>
                    <th>Deadline</th>
                    <th>Task</th>
                    <th>Desciption</th>
                    <th>Assigned To</th>
                    <th>Deliverable</th>
                    <th>% Done</th>
                    <th>Fixed Cost</th>
                    <th>Estimated Hours</th>
                    <th>Actual Hours</th>
                </tr>
            </thead>
            <tbody>
                {% for strategic_data in strategic_data_list %}
                <tr>
                    <td>{{ strategic_data.status }}</td>
                    <td>{{ strategic_data.priority or '' }}</td>
                    <td>{{ strategic_data.deadline or '' }}</td>
                    <td>{{ strategic_data.task or '' }}</td>
                    <td>{{ strategic_data.description or '' }}</td>
                    <td>{{ strategic_data.project_manager or '' }}</td>
                    <td>{{ strategic_data.deliverables or '' }}</td>
                    <td>{{ strategic_data.percentage_done or '' }}</td>
                    <td>{{ strategic_data.fixed_cost or '' }}</td>
                    <td>{{ strategic_data.estimated_hours or '' }}</td>
                    <td>{{ strategic_data.actual_hours or '' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock%}