{% block content %}
<!-- Update Strategic Modal -->
<div class="modal fade" id="updateStrategicModal{{ strategic_data.task_id }}" tabindex="-1" role="dialog" aria-labelledby="updateStrategicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateStrategicModalLabel">Edit Data</h5>
        </div>
        <div class="modal-body">
          <form action="{{ url_for('strategic.update_strategic_data', strategic_data_id=strategic_data.task_id) }}" method="post">
            <div class="form-group">
                <label>Task <span style="color: red;">*</span></label>
                <input type="text" class="form-control" name="task" value="{{ strategic_data.task }}" required>
            </div>
            <div class="form-group">
                <label>Description </label>
                <input type="text" class="form-control" name="description" value="{{ strategic_data.description or '' }}">
            </div>
            <div class="form-group">
                <label>Deliverable </label>
                <input type="text" class="form-control" name="deliverables" value="{{ strategic_data.deliverables  or ''}}">
            </div>
            <div class="form-group">
                <label>Assigned To <span style="color: red;">*</span></label>
                <select class="form-control form-select" name="assigned_to" required>
                    {% for project_manager in project_managers %}
                        <option value="{{ project_manager.id }}" {% if project_manager.id == strategic_data.assigned_to %}selected{% endif %}>
                            {{ project_manager.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>Deadline </label>
                <input type="text" class="form-control" name="deadline" value="{{ strategic_data.deadline or '' }}">
            </div>
            <div class="form-group">
                <label>Status <span style="color: red;">*</span></label>
                <select class="form-control form-select" name="status" required>
                    {% for status_option in ['Complete', 'In Progress', 'Overdue', 'Not Started'] %}
                        <option value="{{ status_option }}" {% if strategic_data.status == status_option %}selected{% endif %}>
                            {{ status_option }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>Priority <span style="color: red;">*</span></label>
                <select class="form-control form-select" name="priority" required>
                    {% for priority_option in ['High', 'Medium', 'Low'] %}
                        <option value="{{ priority_option }}" {% if strategic_data.priority == priority_option %}selected{% endif %}>
                            {{ priority_option }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>Percentage Done</label>
                <input type="number" class="form-control" name="percentage_done" value="{{ strategic_data.percentage_done }}">
            </div>
            <div class="form-group">
                <label>Fixed Cost</label>
                <input type="number" class="form-control" name="fixed_cost" value="{{ strategic_data.fixed_cost }}">
            </div>
            <div class="form-group">
                <label>Estimated Hours</label>
                <input type="number" class="form-control" name="estimated_hours" value="{{ strategic_data.estimated_hours }}">
            </div>
            <div class="form-group">
                <label>Actual Hours</label>
                <input type="number" class="form-control" name="actual_hours" value="{{ strategic_data.actual_hours }}">
            </div>
            <div class="form-group">
                <button class="btn btn-primary left-aligned-button" style="float: left;" type="submit">Submit</button>
            </div>
          </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
      </div>
    </div>
</div>
{% endblock %}