/* Containers CSS */

/* Home Page Containers */
.main_container .date h2 {
    background: #e0ffff;
    padding: 20px;
    text-shadow: 1px 1px 2px #2e2c2c;
    font-size: 3rem;
}

.main_container .sub-heading {
    width: 50%;
    margin: 50px auto;
    background: rgba(47, 182, 182, 0.767);
    padding: 5px 0 10px 0;
    border-radius: 60px;
    color: rgba(1, 1, 66, 0.6);
}

.main_container .sub-heading h2 {
    margin-top: 20px;
    font-size: x-large;
    font-size: 3rem;
}

.stats_data_container {
    background: rgba(107, 109, 109, 0.712);
    margin-top: 100px;
    border: 3px solid #948d8d;
    border-radius: 10px;
    margin: 50px auto;
}

.stats_data_container:hover {
    background: rgb(165, 172, 172);
    border-radius: 10px;
}

.stats_data_container .table-responsive
{
    padding: 10px 10px;
}

.stats_data_container .table tr td, .stats_data_container .table tr th, .stats_data_container .table tr .dt-type-numeric {
    vertical-align: middle;
    text-align: center;
}

.stats_data_container .table tr td:hover {
    background: rgba(233, 236, 236, 0.274);
}

.stats_data_container h2 {
    margin-top: 20px;
}

.stats_data_container .btn-success {
    float: right;
}

/* .stats_data_container .update-btn.btn {
    margin-top: 10px;
}

.stats_data_container .back-btn {
    margin-top: 10px;
} */

.stats_data_container .btn.btn-warning {
    margin-bottom: 2px;
}

.about_container {
    max-width: 75%;
    margin: 30px auto;
    padding: 20px;
    background-color: #f5f5f5;;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main_paragraph {
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

h3 {
    font-size: 24px;
    margin-top: 20px;
}

.sub_paragraph {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}



/* BCC_Projects_Dashboard\static\styles\containers.css */
.main_graph {
    width: 100%;
    background-color: rgb(206, 188, 194);
}

.charts-container {
    margin: 5px;
}

.pie_container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.graph-container {
    width: 100%;
    height: 500px;
    margin: 20px 5px;
}

.stats-container {
    height: 400px;
    text-align: center;
    padding-top: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 4px 4px 16px #000
}

.stats-container.serviving {
    background: url("../images/excavator1920.jpg") no-repeat center;
}

.stats-container.gis{
    background: url("../images/drone1920.jpg") no-repeat center;
}

.stats-container h1 {
    font-size: 4rem;
    color: #fff;
}

.stats_percentage_container .stats_percentage {
    text-shadow: 1px 1px 2px #000;
    font-size: 4rem;
    color: #0d91b3;
}

.date {
    font-size: 2rem;
    background: rgb(165, 172, 172);
    width: 50%;
    border: 2px solid #948d8d;
    border-radius: 10px;
    margin: 50px auto;
}

.stats_background {
    padding: 20px;
    background-color: lightgray;
}
  
.graph1, .graph2, .graph3 {
    margin: 10px;
    /* text-align: center;
    color: whitesmoke;
    text-shadow: 2px 2px 4px #000; */
}

.stats_percentage_container {
    margin-top: 20px;
    padding: 2rem;
}

.stats_percentage_container .card-body {
    background-color: #e0ffff;
    border-radius: 5px;
}

.gis_image {
    width: 100%;
}

.table-responsive .table .table-yellow {
    background-color: rgb(255, 255, 0);
}

.table-responsive .table .table-yellow:hover {
    background-color: rgba(255, 255, 0, 0.7);
}

.table-responsive .table .table-red {
    background-color: rgb(255, 0, 0);
}

.table-responsive .table .table-red:hover {
    background-color: rgba(255, 0, 0, 0.7);
}

.table-responsive .table .table-green {
    background-color: rgb(10, 141, 10);
}

.table-responsive .table .table-green:hover {
    background-color: rgba(10, 141, 10, 0.7);
}

.table-responsive .table .table-yellow_green {
    background-color: rgb(154, 205, 50);
}

.table-responsive .table .table-yellow_green:hover {
    background-color: rgba(154, 205, 50, 0.7);
}

.table-responsive .table .table-blue {
    background-color: rgb(72, 203, 243);
}

.table-responsive .table .table-blue:hover {
    background-color: rgba(72, 203, 243, 0.6);
}

  /* Denied Access Styles */

.denied_access_title {
    font-size: 3rem;
    padding-top: 100px;
    text-shadow: 1px 1px 2px #000;
    color: red;
}

.denied_access_button {
    margin-top: 20px;
    font-size: 4rem;
}

/* Admin Dashboard Styles */


.admin_dashboard .admin_nav_container {
    display: flex;
    flex-direction: row;
}

.admin_dashboard .admin_nav_container .admin_nav {
    margin: 10px 10px;
    width: 60%;
}

.admin-dashboard_select {
    margin-top: 40px;
    margin-bottom: 35px;
}

.admin_dashboard h1 {
    padding-top: 25px;
}

.admin_dashboard .admin_nav {
    background-color: rgb(87, 104, 143);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    margin: 0 20px;
}

.admin_dashboard .admin_nav:hover {
    background-color: rgba(121, 122, 126, 0.95);
}


/* Modal Form Styles */

.modal-body {
    text-align: left;
  }
  
  .modal-body .form-control {
    margin-bottom: 10px;
  }
  
  .left-aligned-button {
    float: left;
  }
  
  .left-aligned-text {
    text-align: left;
  }

  .right-aligned-text {
    text-align: right;
  }


  /* Custom styles for the close button */
.close {
    margin: 5px auto;
    font-size: 1.2rem;
    color: #e8f0f5;
    background-color: #a49b9b;
    transition: opacity 0.3s ease;
}

.close:hover {
    opacity: 1;
    color: #716768;
}

/* Additional styles for the alert container */
.alert-container {
    position: fixed;
    top: 90px;
    right: 20px;
    z-index: 1050;
    margin: 0;
}

.alert-container .alert-error {
    background-color: #f8848e;
    border-radius: 7px;
}

/* padding for the alert */
.alert-container .alert {
    padding: 0.5rem 1rem;
}