.navbar {
    height: 70px;
    padding: 0px 0px 5px;
}

nav .navbar-brand #logo {
    width: 68px;
    height: 68px;
    margin: 0 8px;
} 

.offcanvas-body .dropdown .dropdown-menu {
    background: rgb(198, 205, 209);
    width: 200px;
}

#offcanvasNavbar .offcanvas-body .navbar-nav .nav-item .nav-link {
    font-size: 1.05rem;
    color: rgba(2, 31, 51, 0.9);
    transition: all 0.3s;
}

#offcanvasNavbar .offcanvas-body .navbar-nav .nav-item .nav-link:hover {
    color: rgb(192, 194, 195);
}

.sidebar .offcanvas-header .logo {
    width: 36px;
    height: 45px;
    margin-right: 50px;
}

.navbar .username {
    color: #10528c;
    border: 2px solid #10528c;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 0px;
}